// Colores

$white:#ffffff;
$platinum:#E8E8E8;
$gray:#BABABA;
$dark-salmon:#EE9480;
$melon:#F4BAAE;
$pale-pink:#FADFDA;
$ball-blue:#2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;
$raisin-black:#221D23;
$nickel:#726F73;
$silver-chalice: #AEACAF;

$bg-light: $white;
$bg-dark: $onyx;
$bg-footer: $raisin-black;


// Tipografías

$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$bold:700;
$regular:400;


// font size
//Tamaño en px, el mixin lo pasa a rems

$xxxxx-large:50;
$xxxx-large:45;
$xxx-large:40;
$xx-large:35;
$x-large:30;
$f-large:20;
$f-medium:16;
$f-small:14;
$x-small:12;


/*
// Breakpoints
$viewport-xsmall: 375px;
$viewport-small: 575px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;
*/

// https://sass-guidelin.es/#responsive-web-design-and-breakpoints
$breakpoints: (
  //por defecto esta para x-small / tamaño iphone5
  'small': (min-width: 575px),
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);


