/*
// Breakpoints
$viewport-xsmall: 375px;
$viewport-small: 575px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  font-family: "Open Sans", sans-serif 400;
}
* ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.8125rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.1875rem;
}

h5 {
  font-size: 1.875rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

footer {
  font-size: 0.875rem;
}

.boton {
  border: 0px solid;
  font-family: "Open Sans", sans-serif;
}

.boton2 {
  background-color: #2AB7CA;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 4px;
}
.boton2:hover {
  background-color: #77D1DD;
  color: #ffffff;
  text-decoration: none;
}
.boton2:focus {
  background-color: #BABABA;
  color: #ffffff;
  text-decoration: none;
}

.boton1 {
  background-color: #ffffff;
}

/*
.caja1__boton{
  width: 247px;
  background-color: #2ab7ca;
  border: 0px solid;
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: $raleway;
  font-weight: $bold;

  &:hover{
    background-color: $middle-blue;
  }

  &:focus{
    background-color: $gray;
  }
}
*/
nav .navbar {
  font-size: 16;
  max-width: 600px;
}

header .franja {
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  background-size: 150vw;
}
@media (min-width: 575px) {
  header .franja {
    background-size: contain;
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 130vw;
  }
}
@media (min-width: 800px) {
  header .franja {
    background-size: contain;
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 61vw;
  }
}
@media (min-width: 1000px) {
  header .franja {
    background-size: contain;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 130vw;
  }
}
@media (min-width: 1200px) {
  header .franja {
    background-size: contain;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 90vw;
  }
}
header .franja div.texto {
  width: 80%;
  padding-left: 1rem;
}
@media (min-width: 575px) {
  header .franja div.texto {
    width: 60%;
    padding-left: 3rem;
  }
}
@media (min-width: 800px) {
  header .franja div.texto {
    width: 50%;
    padding-left: 10rem;
  }
}
@media (min-width: 1000px) {
  header .franja div.texto {
    width: 40%;
    padding-left: 15rem;
  }
}
header .franja div.texto h1 {
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 20;
}
@media (min-width: 800px) {
  header .franja div.texto h1 {
    padding-bottom: rem;
    font-size: 35;
  }
}
@media (min-width: 1000px) {
  header .franja div.texto h1 {
    padding-bottom: 1rem;
    font-size: 40;
  }
}
header .franja div.texto p {
  line-height: 1.5rem;
  padding-bottom: 51vh;
  font-size: 16;
}
@media (min-width: 575px) {
  header .franja div.texto p {
    font-size: 14;
  }
}
@media (min-width: 800px) {
  header .franja div.texto p {
    font-size: 20;
  }
}
@media (min-width: 1000px) {
  header .franja div.texto p {
    font-size: 30;
  }
}

/*
    @media screen (min-width: $viewport-medium){
        header div.franja{
            background-image: url('../img/bg-hero.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 200vh;
            background-position: right bottom;    


        }


        @media screen (max-width: $viewport-xsmall){
        header div.franja{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: 133%;
        height: 92vh;
        background-position: right bottom;
        }

        div.texto{
            width: 80%;
            padding-left: 1.5rem;

            h1 {
                font-weight: 700;
                padding-bottom: 1rem;
                font-size: medium;
            }

            p {
                line-height: 1.5rem;
                padding-bottom: 51vh;
                font-size: small;
            }

        }










}

@media screen (min-width: $viewport-medium){
    header .franja div.texto{
        width: 45%;
        padding-left: 1.5rem;
        width: 50%;
        padding-bottom: 50vh;

        h1 {
            font-weight: 700;
            padding-bottom: 1rem;
            font-size: $xxxxx-large;
        }

        p {
            line-height: 1.5rem;
            padding-bottom: 150vh;
            font-size: $large;
        }
    }    
}
*/
main {
  width: 100%;
}

main .section1 {
  text-align: center;
  text-align: -webkit-center;
}
main .section1 .parent {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
main .section1 .child {
  width: 80vw;
  /* Or whatever */
  height: auto;
  /* Or whatever */
  margin: auto;
  /* Magic! */
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 1rem;
  max-width: 80%;
}

main .section2 {
  background-image: url(".../img/bg-price.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
}

/*
.section__grafico{
    display: flex;

    padding-left: 15%;
    }

    .section1{
        text-align: center;
        top: 30%;
        // position: absolute;
        min-width: 318px;

            .section1 img, .section1 div.text {
                width: 85%;
                display: flex;

                flex-wrap: wrap;
            }
        }



/* .grafico {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

section {

    text-align: center;
    */
/*
    .section2{
        background-image: url('../img/bg-price.svg');
        background-repeat: no-repeat;
        background-size: 110%;
        height: 130vh;
        background-position: center;
        }
*/
main .franja2 {
  text-align: center;
  background-image: url("../img/bg-price.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}
@media (min-width: 575px) {
  main .franja2 {
    background-size: contain;
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 131vw;
  }
}
@media (min-width: 800px) {
  main .franja2 {
    background-size: contain;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 61vw;
  }
}
@media (min-width: 1000px) {
  main .franja2 {
    background-size: contain;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 100px;
  }
}
@media (min-width: 1200px) {
  main .franja2 {
    background-size: contain;
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 90vw;
    padding-top: 300px;
  }
}
main .franja2 h2 {
  padding-top: 300px;
  color: white;
}

main .fondo2 {
  text-align: center;
  text-align: -webkit-center;
  background-color: #333745;
  align-content: center;
  width: 100%;
  padding-top: 100px;
  background-image: url("../img/bg-price.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  background-size: 150vw;
  /*
          .card {
              width: 80%;
              max-width: 320px;
              background-color: white;

          } 
          */
}
main .fondo2 h2 {
  color: white;
  vertical-align: bottom;
}

/*

.fondox{
    background-image: url('../img/bg-price.svg');
    background-repeat: no-repeat;
    background-size: 110%;
    height: 130vh;
    background-position: center;
    }

    @media (max-width: 800px){
    .fondo2{
        background-image: url('../img/bg-price.svg');
        background-size: 318%;
        height: 115vh;
        background-position: center;
        }
    }

    @media (max-width: 375px){
    .fondo2{
    background-image: url('../img/bg-price.svg');
    background-size: 775%;
    height: 210vh;
    background-position: center;
    }
    }

    .section__price{
    padding-top: 15%;
    padding-bottom: 5%;
    color: white;
    }

    @media (max-width: 375px){
    .section__price{
    padding-top: 35%;
    padding-bottom: 15%;
    color: white;
    }
    }
    */
.footer {
  background-color: #221D23;
  display: flex;
  color: white;
  justify-content: center;
  flex: 50%;
  flex-direction: column;
}
@media (min-width: 575px) {
  .footer {
    flex-direction: row;
  }
}
.footer__flex {
  flex: 50%;
}
.footer__flex__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-width: 30%;
}
.footer__flex__items__single {
  padding: 1rem;
  text-align: center;
  column-width: 33%;
}
.footer__flex__copyright {
  padding: 1rem;
  text-align: center;
  flex: 50%;
}

/*
@import 'layout/newsletter';
@import 'layout/sidebar';

*/

/*# sourceMappingURL=style.css.map */
