.section1 {
    text-align: center;

    h2{
        padding-bottom: 2rem;
    }
     
        &__parent {
            display: flex;
            //border: 2px solid black;
            text-align: center;
            //font-size: 3rem;
            flex-direction: column;
            padding-bottom: 3rem;

        @include respond-to(medium){ 
            flex-direction: row;
            &__child__texto{
                 
                h3{
                font-size: $f-large;
                text-align: right;
                padding-bottom: 1rem;
                
                }
                p{
                font-size: $f-medium;
                text-align: left;
                }
            }
      }
           
            &__child {
                width: 100%;
                //border: 1px solid black;
                //background-color: coral;
                color: $raisin-black;
                display: flex;
                padding-bottom: 3rem;
                vertical-align: auto;
                justify-content: center;
            
                &__svg{
                    display: flex;
                }

                &__texto{
                    
                    h3{
                    font-size: $f-large;
                    text-align: center;
                    padding-bottom: 1rem;
                    
                    }
                    p{
                    font-size: $f-medium;
                    text-align: center;
                    }
                }

            }
        }    
    }


//
/*.card:hover {
    box-shadow: 50px 50px blue;
    transition-property: all;
    } */