
.franja2{
    min-height: 8rem;
    text-align: center;
    background-image: url('../img/bg-price.svg');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    background-size: 200vw;
    //background-size: 500px;
    //align-self: center;
    //max-height: 30vmax;
    //font-size: $f-small;
    color: white;

    //padding-top: 500px;

    @include respond-to('small') {
        background-size: 150vw;
        background-position-y: bottom;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 10rem;
        font-size: $f-medium;
        .deck1{
            display: none;
        }

      }

    @include respond-to('medium') {
      background-size: 100vw;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 12rem;

      }
     
    @include respond-to('large') {
        background-size: 100vw;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 12rem;
    }


      @include respond-to('huge') {
        background-size: 100vw;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 15rem;

    }
    
}  

    .fondo2 {
        text-align: center;
        text-align: -webkit-center;
        background-color: $onyx;
        vertical-align: top;
        margin-bottom: 0px;
        padding-bottom: 5rem;
        
        color: black;

        h2{
            color: white;
            padding-bottom: 50px;
        }
    }
      
   
        