.footer{
  background-color: $raisin-black;
  display: flex;
  color: white;
  justify-content: center;
  flex: 50%;
  
  flex-direction: column;  // este es el que cambia si es una o dos filas por tamaño
  @include respond-to('small') {
    flex-direction: row;
  }

  // footer__flex
  // contenedor de dos hijos en modo flex (items y copyright)
  &__flex{ 
    
    flex: 50%;

    // footer__flex__items
    //seccion grilla que tiene tres elementos fijos
    &__items{
         
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-width: 30%;
          

      //cada elemento fijo footer__flex__item__single
      &__single{
        
        padding: 1rem;
        text-align: center;
        column-width: 33%;
      }

    }

    //footer__flex__copyright
    //segunda seccion que solo tiene un elemento centrado
    &__copyright{
    
    padding: 1rem;
    text-align: center;
    flex: 50%;
    
    }

  }
  
}