footer{
    background-color: $raisin-black;
    display: flex;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;

        ul.menu li, p{
            padding-right: 20px;
            color: $white;
            font-size: $small;
            font-family: $open-sans;
            background-color: $raisin-black;
            text-align: center;
            display: flex;
        }
        
    

    
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 100px;

    @media only screen and (min-width: 767px) {
        footer {
          display: grid;
          grid-template-columns: 1fr 1fr;
          
          grid-row-gap: 100px;
        }
      }

}