
header{


    .franja{
      //  background-image: url('../img/bg-hero.svg');
      //   background-repeat: no-repeat;
      //   background-position-y: center;
      //   background-position-x: right;
      //   width: 100vw;
      //   height: 80vh;
    
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 100vh;
    height: 120vh;
    //background-size: 500px;
 
    @include respond-to('small') {
        background-size: contain;
        background-position-y: bottom;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 130vw;
      }

    @include respond-to('medium') {
        background-size: contain;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 61vw;
      }

    @include respond-to('large') {
        background-size: contain;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 130vw;
      }

      @include respond-to('huge') {
        background-size: contain;
        background-position-y: top;
        background-position-x: right;
        background-repeat: no-repeat;
        min-height: 90vw;
      }
        
        div.texto{
            width: 80%;
            padding-left: 1rem;
        
            @include respond-to('small') {
                width: 60%;
                padding-left: 3rem;    
              } 

            @include respond-to('medium') {
                width: 50%;
                padding-left: 10rem;    
              }    
            
            @include respond-to('large') {
                width: 40%;
            padding-left: 15rem;
              }

            h1 {
                font-weight: 700;
                padding-bottom: 1rem;
                font-size: $f-large;

                @include respond-to('medium') {
                    padding-bottom: rem; 
                    font-size: $xx-large;
                }

                @include respond-to('large') {
                    padding-bottom: 1rem;
                    font-size: $xxx-large;
                }
            }
            
            p {
                line-height: 1.5rem;
                padding-bottom: 51vh;
                font-size: $f-medium;

                @include respond-to('small') {
                    font-size: $f-small;
                }

                @include respond-to('medium') {
                    font-size: $f-large;
                }
                @include respond-to('large') {
                    font-size: $x-large;
                }
            }
        }    
            

    }  
}    
/*
    @media screen (min-width: $viewport-medium){
        header div.franja{
            background-image: url('../img/bg-hero.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 200vh;
            background-position: right bottom;    
                 

        }
        
        
        @media screen (max-width: $viewport-xsmall){
        header div.franja{
        background-image: url('../img/bg-hero.svg');
        background-repeat: no-repeat;
        background-size: 133%;
        height: 92vh;
        background-position: right bottom;
        }

        div.texto{
            width: 80%;
            padding-left: 1.5rem;
                        
            h1 {
                font-weight: 700;
                padding-bottom: 1rem;
                font-size: medium;
            }
            
            p {
                line-height: 1.5rem;
                padding-bottom: 51vh;
                font-size: small;
            }
            
        }
        

        







}
 
@media screen (min-width: $viewport-medium){
    header .franja div.texto{
        width: 45%;
        padding-left: 1.5rem;
        width: 50%;
        padding-bottom: 50vh;
                    
        h1 {
            font-weight: 700;
            padding-bottom: 1rem;
            font-size: $xxxxx-large;
        }
        
        p {
            line-height: 1.5rem;
            padding-bottom: 150vh;
            font-size: $large;
        }
    }    
}
*/ 